<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Envanter - <%= t(:login) %></title>
  <!-- Bootstrap core CSS-->
  <link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/sb-admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">
</head>

<body style="background: url(/images/background.jpg); background-repeat: round;">
  <div class="container">
    <div class="mx-auto mt-5">
      <center>
      <img src="/images/uzem.png" width="20%">
    </center>
    </div>
    <div class="card card-login mx-auto mt-5">
      <div class="card-header"><%= t(:login) %></div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Enter email" %>
          </div>
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <%= f.check_box :remember_me, class: "form-check-input" %> Remember me
                </label>
              </div>
            </div>
          <% end -%>
          <%= f.submit t(:login), class:"btn btn-primary btn-block" %>
          <% end %>
        <div class="text-center">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
  <script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
