<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/"><%= t(:dashboard) %></a>
  </li>
  <li class="breadcrumb-item">
    <a href="/templates"><%= t(:templates) %></a>
  </li>
  <li class="breadcrumb-item active"><%= t(:editing_template) %></li>
</ol>

<%= render 'form', template: @template %>

<%= link_to 'Show', @template %>
