<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/"><%= t(:dashboard) %></a>
  </li>
  <li class="breadcrumb-item active"><%= t(:templates) %></li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-group"></i> <%= t(:listing_templates) %>
    <div class="pull-right">
      <%= link_to_new new_template_path %>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t(:name) %></th>
            <th><%= t(:products) %></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @templates.each do |template| %>
            <tr>
              <td><b><u><%= link_to template.name, template %></u></b></td>
              <td><%= template.products.size %></td>
              <td><%= link_to_edit edit_template_path(template) %></td>
              <td><%= link_to_destroy template %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= page_entries_info @templates %>
      </center>
      <center>
        <%= will_paginate @templates %>
      </center>
    </div>
  </div>
</div>
