<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/"><%= t(:dashboard) %></a>
  </li>
  <li class="breadcrumb-item">
    <a href="/templates"><%= t(:templates) %></a>
  </li>
  <li class="breadcrumb-item active"><%= @template.name %></li>
</ol>

<p>
  <strong>Properties:</strong>
  <%= @template.properties %>
</p>

<center>
  <%= link_to_edit edit_template_path(@template) %>
</center>
