<center class="card">
  <div class="card-body">
    <%= form_with(model: group, local: true) do |form| %>
    <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :group_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :coordinator %>
      <%= form.collection_select :coordinator_id, @users, :id, :full_name, {}, { class: "form-control" } %>
    </div>

    <div class="actions">
      <%= form.submit nil, class:"btn btn-outline-primary btn-sm" %>
    </div>
    <% end %>
  </div>

</center>
