<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/"><%= t(:dashboard) %></a>
  </li>
  <li class="breadcrumb-item active"><%= t(:groups) %></li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-group"></i> <%= t(:listing_groups) %>
    <div class="pull-right">
      <%= link_to_new new_group_path %>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t(:group_name) %></th>
            <th><%= t(:coordinator) %></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><b><u><%= link_to group.name, group %></u></b></td>
              <td><%= group.coordinator.full_name %></td>
              <td><%= link_to_edit edit_group_path(group) %></td>
              <td><%= link_to_destroy group %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= page_entries_info @groups %>
      </center>
      <center>
        <%= will_paginate @groups %>
      </center>
    </div>
  </div>
</div>
