<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/"><%= t(:dashboard) %></a>
  </li>
  <li class="breadcrumb-item">
    <a href="/groups"><%= t(:groups) %></a>
  </li>
  <li class="breadcrumb-item active"><%= @group.name %></li>
</ol>

<div class="card mb-3">
  <div class="card-header" style="text-align:center;">
    <i class="fa fa-info-circle"></i><b> <%= @group.name %>&nbsp;&nbsp;<%= t(:group_info) %></b>
  </div>
  <div class="card-body">
    <p>
      <strong><%= t(:coordinator) %>:</strong>
      <%= @group.coordinator.full_name %>
    </p>
    <p>
      <strong><%= t(:users) %>:</strong>
      <%= @group.users.size %>
    </p>
    <p>
      <strong><%= t(:debits) %>:</strong>
      <%= @group.debits.size %>
    </p>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-group"></i> <%= t(:members) %></div>
    <div class="card-body">
      <% if @group.users.any? %>
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><%= t(:first_name) %></th>
              <th><%= t(:last_name) %></th>
              <th><%= t(:email) %></th>
              <th><%= t(:role) %></th>
            </tr>
          </thead>
          <tbody>
            <% @group.users.each do |user| %>
            <tr>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <p>Bu grupta hiçbir kullanıcı yok.</p>
      <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-database"></i> <%= t(:listing_debits) %>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><%= t(:product) %></th>
              <th><%= t(:start_date) %></th>
              <th><%= t(:end_date) %></th>
              <th><%= t(:status) %></th>
            </tr>
          </thead>
          <tbody>
            <% @debits.each do |debit| %>
            <tr>
              <td><%= debit.product.name %></td>
              <td>Eklenecek</td>
              <td><%= debit.end || "-" %></td>
              <td><%= t(:"debit_#{debit.status}") %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <center>
          <%= page_entries_info @debits %>
        </center>
        <center>
          <%= will_paginate @debits, inner_window: 1, outer_window: 1 %>
        </center>
      </div>
    </div>
  </div>

<center>
    <%= link_to_edit edit_group_path(@group) %>
</center>
