<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :template_id %>
    <%= form.text_field :template_id, id: :product_template_id %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :product_company %>
  </div>

  <div class="field">
    <%= form.label :properties %>
    <%= form.text_area :properties, id: :product_properties %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :product_year %>
  </div>

  <div class="field">
    <%= form.label :warranty %>
    <%= form.number_field :warranty, id: :product_warranty %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :product_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
