<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/"><%= t(:dashboard) %></a>
  </li>
  <li class="breadcrumb-item active"><%= t(:products) %></li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-cube"></i> <%= t(:listing_products) %>
    <div class="pull-right">
      <%= link_to t(:new_product), new_product_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t(:product_name) %></th>
            <th><%= t(:template) %></th>
            <th><%= t(:company) %></th>
            <th><%= t(:year) %></th>
            <th><%= t(:warranty) %> (<%= t(:month) %>)</th>
            <th><%= t(:warranty_end) %></th>
            <th><%= t(:status) %></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= link_to product.name, product %></td>
              <td><%= product.template.name %></td>
              <td><%= product.company %></td>
              <td><%= product.year %></td>
              <td><%= product.warranty %></td>
              <td><%= product.warranty_end %></td>
              <td><%= t(product.status) %></td>
              <td><%= link_to t(:edit), edit_product_path(product) %></td>
              <td><%= link_to t(:delete), product, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= page_entries_info @products %>
      </center>
      <center>
        <%= will_paginate @products %>
      </center>
    </div>
  </div>
</div>
