<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/"><%= t(:dashboard) %></a>
  </li>
  <li class="breadcrumb-item active"><%= t(:products) %></li>
</ol>

<p id="notice"><%= notice %></p>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-cube"></i> <%= t(:listing_products) %></div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Template</th>
            <th>Company</th>
            <th>Properties</th>
            <th>Year</th>
            <th>Warranty</th>
            <th>Status</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.template.name %></td>
              <td><%= product.company %></td>
              <td><%= product.properties %></td>
              <td><%= product.year %></td>
              <td><%= product.warranty %></td>
              <td><%= product.status %></td>
              <td><%= link_to 'Show', product %></td>
              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to t(:new_product), new_product_path %>
