<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/"><%= t(:dashboard) %></a>
  </li>
  <li class="breadcrumb-item active"><%= t(:my_debits) %></li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-database"></i> <%= t(:personal_debits) %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t(:product) %></th>
            <th><%= t(:start_date) %></th>
            <th><%= t(:end_date) %></th>
            <th><%= t(:status) %></th>
          </tr>
        </thead>
        <tbody>
          <% @my_debits.each do |debit| %>
          <tr>
            <td><%= debit.product.name %></td>
            <td><%= debit.start || "-" %></td>
            <td><%= debit.end || "-" %></td>
            <td>
              <% if debit.pending? %>
              <% if debit.start.nil? %>
              <%= link_to t(:confirm_to_debit), confirm_my_debit_path(debit_id: debit.id), class: "btn btn-sm btn-success" %>
              <% else %>
              <%= link_to t(:confirm_to_remove), confirm_my_debit_path(debit_id: debit.id), class: "btn btn-sm btn-danger" %>
              <% end %>
              <% else %>
              <%= t(debit.status) %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= page_entries_info @my_debits %>
      </center>
      <center>
        <%= will_paginate @my_debits %>
      </center>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-database"></i> <%= t(:groups_debits) %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t(:product) %></th>
            <th><%= t(:group) %></th>
            <th><%= t(:start_date) %></th>
            <th><%= t(:end_date) %></th>
            <th><%= t(:status) %></th>
          </tr>
        </thead>
        <tbody>
          <% @my_groups_debits.each do |debit| %>
          <tr>
            <td><%= debit.product.name %></td>
            <td><%= debit.group.name %></td>
            <td><%= debit.start || "-" %></td>
            <td><%= debit.end || "-" %></td>
            <td>
              <% if debit.pending? && !current_user.staff?  %>
              <% if debit.start.nil?%>
              <%= link_to t(:confirm_to_debit), confirm_debit_of_my_group_path(debit_id: debit.id), class: "btn btn-sm btn-success" %>
              <% else %>
              <%= link_to t(:confirm_to_remove), confirm_debit_of_my_group_path(debit_id: debit.id), class: "btn btn-sm btn-danger" %>
              <% end %>
              <% else %>
              <%= t(debit.status) %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= page_entries_info @my_groups_debits %>
      </center>
      <center>
        <%= will_paginate @my_groups_debits %>
      </center>
    </div>
  </div>
</div>

<center>
  <a class= "btn btn-sm btn-outline-primary" href="/panel/my_debits_for_print" target="_blank" >
    <i class="fa fa-print"></i>
    <%= t(:print) %>
  </a>
</center>
