<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/"><%= t(:dashboard) %></a>
  </li>
  <li class="breadcrumb-item">
    <a href="/panel/users"><%= t(:users) %></a>
  </li>
  <li class="breadcrumb-item active"><%= @user.full_name %></li>
</ol>

<div class="card mb-3">
  <div class="card-header" style="text-align:center;">
    <i class="fa fa-user"></i> <%= @user.full_name %></b>
  </div>
  <div class="card-body">
    <p>
      <strong><%= t(:full_name) %>:</strong>
      <%= @user.full_name %>
    </p>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-cube"></i> <%= t(:listing_debits) %>
  </div>
  <div class="card-body">
    <% if @debits.any? %>
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t(:product_name) %></th>
            <th><%= t(:end_date) %></th>
            <th><%= t(:status) %></th>
          </tr>
        </thead>
        <tbody>
          <% @debits.each do |debit| %>
          <tr>
            <td><%= debit.product.name %></td>
            <td><%= debit.end || "-" %></td>
            <td><%= t("debit_#{debit.status}") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    <p><%= t(:no_debits) %></p>
    <% end %>
  </div>
</div>
